body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
#cont{
  background-image: url(bg.jpg);
}
.navbar{
  margin: 0px !important;  
  border-radius: 0px !important;
}

#pk{
  background: #005500;
  color : #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  text-align: center;
  margin: 0px !important;
}
#f{
  background: lightgray;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid blue;
}
#s{
  background: lightgreen;  
  text-align: center;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#t{
  background: lightgray;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#ul{
  list-style: none;
  text-align: left;
  border-radius: 10px;
  background: darkgreen;
  padding: 10px;
}
#ul li{
  border-right: 1px solid #fff;
  border-bottom: 1px double gray;
  padding: 5px;
  border-collapse: collapse;
  margin: 5px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
#ul li:hover{
  padding-left: 30px;
  transition: 0.5s;
}
#inp{
  padding: 10px;  
  margin: 5px;
}
#inp:focus{
  background: green;
  color: #fff;
}
#btn{
  padding: 10px;
  margin: 5px;
}